<section id="education" class="section">
  <div class="section-content">
    <h2>Education</h2>
    <div class="timeline">
      <div class="exp-item">
        <h3>Singapore University of Technology and Design</h3>
        <p class="period">Sep 2023 – May 2027</p>
        <p>Pretty fire skewl.</p>
      </div>
      <div class="exp-item">
        <h3>Singapore Polytechnic</h3>
        <p class="period">Apr 2018 – Apr 2021</p>
        <p>Close to home!</p>
      </div>
    </div>
  </div>
</section>
