<section id="awards" class="section awards-section">
  <div class="section-content">
    <h2><i data-lucide="award"></i> Awards</h2>
    <ul class="awards-list">

      <li class="fade-item">85th Singapore Open Track & Field Championships — 110m Hurdles and 4 x 100m Relay (Qualified)</li>
      <!-- https://www.youtube.com/watch?v=5pJMEFH29RE&t=2380s -->
      <li class="fade-item">Polytechnic ITE Track and Field Championships 2019 — 110m Hurdles (Bronze)</li>
      <li class="fade-item">Polytechnic ITE Track and Field Championships 2018 — 110m Hurdles (Bronze)</li>
      <li class="fade-item">COLOURS Award (2019)</li>
      <li class="fade-item">Tan Kah Kee Young Inventors Award</li>

    </ul>
  </div>
</section>
